.categories{
    min-height: 330px;
    background: url(/img/categories.png) center no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    &-filter{
        flex: 2;
        padding: 0 20px;
        vertical-align: top;
        &__title{
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 15px;
            color: #3F3F48;            
        }
        &__info{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 15px;
            position: relative;
            top: 10px;
            color: #3F3F48;
        }
    }
    &__filter{
        min-height: 150px;
        background: white;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        top: 40px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
        &-el{
            flex: 1;
            display: flex;
            padding-top: 25px;
            padding-left: 20px;
            img{
                flex: 1;
            }

            &-1{
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
            }
            &-2{

            }
            &-3{
                background: #F1FBFB;
            }
        }
    }
    &::after{
        content: '';
        z-index: -1;
        position: absolute;
        bottom: -100px;
        display: inline-block;
        right: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background:#C2F62C;
    }
    &__title{
        padding-top: 120px;
        user-select: none;
        font-style: normal;
        font-weight: 600;
        line-height: 86px;
        font-size: 52px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &-info{
        min-height: 664px;
        background: url(/img/catinfo.jpg) center no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        &__parallax{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            #scene{
                height: 100%;
            }
            &-el{
                position: absolute;
                &-1{
                    top: 200px !important;
                    left: -170px !important;
                    img{
                        max-width: 400px;
                    }
                }
                &-2{
                    top: 40px !important;
                    left: auto !important;
                    right: -140px;
                    img{
                        max-width: 400px;
                    }
                }
                &-3{
                    top: auto !important;
                    bottom: 80px;
                    left: 30% !important;                    
                    img{
                        max-width: 120px;
                    }
                }
                &-4{
                    top: -60px !important;
                    left: auto !important;
                    right: 120px;
                    img{
                        max-width: 120px;
                    }
                }
                &-5{
                    top: auto !important;
                    left: 200px !important;                    
                    bottom: -60px;
                    img{
                        max-width: 120px;
                    }
                }
                &-6{
                    top: -85px !important;
                    left: 10% !important;                    
                    img{
                        max-width: 250px;
                    }
                }
                &-7{
                    top: 35px !important;
                    left: auto !important;
                    right: 16%;
                    img{
                        max-width: 120px;
                    }
                }
                &-8{
                    top: auto !important;
                    left: auto !important;
                    right: 200px;
                    bottom: -130px;                    
                    img{
                        max-width: 300px;
                    }
                }                                                                                                      
            }
        }
        &__h2{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 20px;
            text-align: center;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #1B1B1B;
            padding: 60px 0 60px;
        }
        &__phone{
            display: inline-block;
            margin: 0 1em;
            img{
                max-height: 25em;
            }
        }
    }
}
