.type{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
    .active{
        display: inline-block;
        position: relative;
        p{
            color: #9dc32f;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #C2F62C;
        }
    }
    &__wrapper{
        padding: 20px 5px;
        display: inline-block;
        img{
            width: 60px;
            vertical-align: middle;            
        }
    }
    &__p{
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        font-size: 11px;
        display: block;
        vertical-align: middle;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #3F3F48;
    }
}
.popular{
    padding-top: 60px;
    text-align: center;
    padding-bottom: 90px;
    &__btn{
        margin-top: 20px;
        border: 1.5px solid #9ED500;
        border-radius: 100px;
        padding: 20px 100px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #1B1B1B;        
    }
    &__price{
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        text-align: right;
        text-transform: uppercase;        
    }
    &__long{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 13px;
        text-align: right;
        color: rgba(255, 255, 255, 0.75);
    }
    &__title{
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        line-height: 17px;
        max-width: 135px;
        font-size: 12px;
        letter-spacing: 0.3em;
        text-transform: uppercase;        
    }
    &__p{
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.75);        
    }
    .flex{
        display: flex;
        flex-wrap: wrap;    
        justify-content: space-around;
    }
    &__wrapper{
        padding: 180px 0px 0px 0px;
        background: url('/img/rest1.png') center no-repeat;
        background-size: cover;
        color: white;
        height: 260px;
        width: 420px;
        display: inline-block;
        margin-bottom: 40px;
        position: relative;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.86%, rgba(0, 0, 0, 0.75) 100%);
            z-index: -1;
        }
        &-1{
            width: 94%;
            margin: 0 auto;
            text-align: left;
        }
        &-img{
            vertical-align: middle;
        }
        &-text{
            padding-left: 10px;
            display: inline-block;
            position: relative;
            top: 5px;
        }
        &-price{
            display: inline-block;
            position: relative;
            float: right;
            padding-left: 60px;
            top: 7px;
            img{
                position: relative;
                top: 2px;
                left: -7px;
            }
            h2{
                display: inline;
            }
        }        
    }
    &__h3{
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.3em;
        text-transform: uppercase;        
        padding-bottom: 60px;
    }    
}
.useful{
    background: linear-gradient(180deg, #AEF16C 0%, #70E78A 100%);
    padding-bottom: 400px;
    position: relative;
    .index{
        z-index: 10;
    }
    &__img{
        position: absolute;
        bottom: 0;
        left: 50%;
        .translate(-50%, 0%);
        &-1{
            max-width: 400px;
            z-index: 1;
        }
        &-2{
            max-width: 1200px;
            z-index: 1;            
        }
    }
    &__btn{
        margin-top: 160px;
        position: relative;
        background: white;
        border-radius: 100px;
        padding: 17px 0px 17px 38px;
        width: 270px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 12px;
        letter-spacing: 0.15em;
        text-transform: uppercase;        
        img{
            position: relative;
            left: -8px;
            vertical-align: middle;
        }
    }
    &__btn-2{
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        background: white;
        border-radius: 100px;
        padding: 17px 0px 17px 38px;
        width: 270px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 12px;
        letter-spacing: 0.15em;
        text-transform: uppercase;        
        img{
            position: relative;
            left: -8px;
            vertical-align: middle;
        }
    }    
    &__h2{
        padding: 60px 0 250px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #1B1B1B;        
    }    
}
