.filter{
    &__title{
        padding: 20px 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 15px;
        color: #3F3F48;        
    }
    &__info{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 15px;
        color: #3F3F48;     
        padding: 0 20px 10px;   
    }
    &__range{
        padding: 0 20px 50px;
        padding-bottom: 50px;
        border-bottom: 1px #E1EAEC solid;
    }
}
.finder{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding-top: 15px;
    background: white;
}
