.footer{
    background: #3F3F48;
    color: white;
    padding: 60px 0;
    &__rights{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 13px;
        color: #FFFFFF;
        opacity: 0.5;         
    }
    &__bottom{
        padding: 30px 0px 0;
        border-top: #5A5A62 1px solid;
    }
    &-developed{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        color: #FFFFFF;
        img{
            vertical-align: middle;
        }
    }
    &-mobile{
        background: #3F3F48;
        color: white;
        padding: 10px 0 30px;
        .accordion {
            color: white;
            border: none;
            border-radius: 0;
          & li{
            list-style: none;
            padding: 8px 0;
          }
          }
          
          .accordion .link {
            cursor: pointer;
            display: block;
            padding: 20px 0px 25px 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 12px;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            color: #FFFFFF;
            border-bottom: 1px solid #5A5A62;
            position: relative;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }
          
          
          .accordion img {
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 18px;
            color: #595959;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }
          
          .accordion li .dropdown-svg {
            position: absolute;
            right: 12px;
            left: auto;
            font-size: 16px;
          }
          .accordion li.open .dropdown-svg {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
          
          .submenu {
            display: none;
          }
          
          .submenu li { border-bottom: 1px solid #4b4a5e; }
          
          .submenu a {
            display: block;
            text-decoration: none;
            color: #d9d9d9;
            padding: 12px;
            padding-left: 25px;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
          }
        &__dev{
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 14px;
            color: #FFFFFF;
            padding-top: 20px;
            vertical-align: bottom;
            & *{
                vertical-align: bottom;
            }
            img{
                margin-left: 15px;
            }
        }
        &__rights{
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.5;            
        }
        &__socials{
            padding: 30px 0;
            li{
                display: inline-block;
                width: 60px;
                height: 60px;
                vertical-align: middle;
                text-align: center;
                border-radius: 50%;
                margin: 0 15px 0 0;
                line-height: 70px;
                background: #C2F62C;
            }        
        }
        &__stores{
            vertical-align: middle;
            &--1{
                padding-bottom: 20px;  
            }
            img{
                vertical-align: middle;
                margin-right: 13px;
            }
        }        
    }
    &__number{
        padding-left: 30px;
    }
    &__stores{
        padding-left: 30px;
        vertical-align: middle;
        &--1{
            padding-bottom: 20px;  
        }
        img{
            vertical-align: middle;
            margin-right: 13px;
        }
    }
    &__h5{
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
    }
    &__phone{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 28px;
    }
    &__mail{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #C2F62C;
        padding-bottom: 30px;
    }
    &__socials{
        padding-left: 30px;
        padding-bottom: 20px;
        li{
            display: inline-block;
            width: 60px;
            height: 60px;
            vertical-align: middle;
            text-align: center;
            border-radius: 50%;
            margin: 0 10px 0 0;
            line-height: 70px;
            background: #C2F62C;
        }
    }
    &__ul{
        padding-top: 10px;
        font-style: normal;
        display: inline-block;
        vertical-align: top;
        font-weight: 300;
        line-height: normal;
        font-size: 16px;
        li{
            padding: 8px 0;
        }
    }
}
