.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    &-bg{
        position: fixed;
        top: 0;
        z-index: 20;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(44, 44, 50, 0.4);
    }
    &-popup{
        position: fixed;
        top: 0;
        //display: none;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(44, 44, 50, 0.4);
    }
    .transition(.2s all ease-out);
    .fsize{
        font-size: 10px;
    }
}

.proccess{
    &__element {
        text-align: left;
        min-height: 460px;
        margin: 0px 0px 30px;
        flex-basis: 50%;
        background: white;
        vertical-align: middle;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        padding-top: 30px;
    }
    &__text{
        padding-left: 30px;
        color: #88B700;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
    }
    &__item{
        padding-top: 10px;
        height: 270px;
        overflow-y: scroll;
    }
    &__price{
        padding-top: 20px;
        padding-left: 30px;
        &--item{
            padding-bottom: 15px;
            color: rgba(63, 63, 72, 0.75);
            font-size: 14px;
            span{
                font-weight: 600;
                color: rgba(63, 63, 72, 1);
                padding-right: 30px;
                float:right;
            }
        }
    }
    &__address{
        padding-top: 30px;
        border-top: #E4E4E4 solid 1px;
        &--title{
            padding-left: 30px;
            color: #88B700;
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            padding-bottom: 15px;
        }
        &--text{
            padding-left: 30px;
            font-size: 15px;
            padding-bottom: 20px;
        }
    }
    &__status{
        padding-left: 30px;
        padding-top: 60px;
        padding-bottom: 100px;
.progress-container {
  padding-top: 30px;
  padding-right: 43px;
}
/*Progress steps styles*/
.progression-bar {
  list-style: none;
  margin: 0 0 38px 0;
  padding: 0;
  display: flex;
  width: 100%;
  z-index: 1;

  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  &:before {
    transition-delay: 2s;
    transition: width 0.5s linear;
    content: "";
    width: 20px;
    background: #AFEC00;
    height: 5px;
    left: 10px;
    position: absolute;
    top: 47%;
    transform: translateY(-47%);
    z-index: 2;
  }

  &:after {
    transition: width 0.9s ease-in-out;
    content: "";
    width: 100%;
    background-color: #3F3F48;
    height: 4px;
    left: 10px;
    position: absolute;
    top: 47%;
    will-change: transform;
    transform: translateY(-47%);
    z-index: 1;
  }
  /*this classes are added to animate the progress bar*/

  /*this classes are added to animate the progress bar*/
  &.step-2,
  &.pre-pending {
    &:before {
      width: 38%;
    }
  }
  &.step-3,
  &.interview-complete {
    &:before {
      width: 68%;
    }
  }
  &.step-4 {
    &:before {
      width: 100%;
    }
  }
    .is-active{
        .progression-date{
            font-weight: bold;
            opacity: 1;
        }
    }
  li {
    display: flex;
    position: relative;
    height: 50px;
    flex-basis: 50px;

    .progression-title,
    .progression-date {
        color: rgba(45, 45, 50, 1);
        opacity: .5;
        position: absolute;
        white-space: nowrap;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
    }
    .progression-title {
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
    }
    .progression-date {
      bottom: -15px;
      left: 50%;
      transform: translateX(-30%);
    }
  }
}

    }
}
