.description{
    width: 100%;
    height: 220px;
    background: url(/img/description.png) center no-repeat;
    background-size: cover;
    position: relative;
    &-choice{
        background: #F1F8F8;
        width: 100%;
        &--desktop{
        background: #F1F8F8;
        width: 500px;
        position: relative;
        margin: 0 auto;
        z-index: 999;
        }
        &__bottom{
            width: 100%;
            cursor: pointer;
            background: #C2F62C;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            color: #144E00;
            padding: 14px 0;
            button{
                vertical-align: middle;
            }
        }
        &__portion{
            width: 100%;
            padding: 0px 0 10px;
            .checkbox{
                text-align: center;
                &__title{
                    padding-top: 20px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 20px;
                    font-size: 14px;
                    text-align: center;
                    color: #3F3F48;
                }
                &__price{
                    font-style: normal;
                    font-weight: 700;
                    padding-top: 10px;
                    line-height: 17px;
                    font-size: 12px;
                    text-align: center;
                    color: #3F3F48;
                }
                .free{
                    color: #31BA00;
                }
            }
                label {
                    padding-top: 8px;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    width: 100px;
                    text-align: center;
                    height: 175px;
                    img{
                        width: 70px;
                        vertical-align: top;
                    }
                }
                input[type=checkbox] {
                    display: none;
                    height: 0;
                    width: 0;
                }
                input[type=checkbox]:checked + label {
                    background: white;
                    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
                    position: relative;
                        &::before{
                            content: '';
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            background: url(/img/kill.svg) center no-repeat;
                            position: absolute;
                            top: 35px;
                            left: 50%;
                            .translate(-50%,0);
                    }
                }

        }
        &__type{
            padding-bottom: 15px;
            input[type="radio"]{
                visibility: hidden;
                height: 0;
                width: 0;
              }
              label {
                display: inline-block;
                margin: 5px -4px;
                text-align: center;
                cursor: pointer;
                color: rgba(63, 63, 72, 0.75);
                padding: 8px 15px;
                border-radius: 100px;
                .transition(.2s all ease-out);
              }
              input[type="radio"]:checked + label{
                background-color: #3F3F48;
                color: #C2F62C;
              }
        }
        &__line{
            background: #E1EAEC;
            opacity: 0.7;
            width: 100%;
            height: 1px;
        }
        &__title{
            font-style: normal;
            font-weight: 700;
            padding: 20px 0;
            line-height: normal;
            font-size: 15px;
            color: #333333;
        }
        &__size{
            width: 100%;
            input{
                display: none;
            }
            label{
                display: block;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 15px;
                text-align: left;
                color: #3F3F48;
                padding: 13px 20px;
                .price{
                    float: right;
                }
            }
            input[type="radio"]:checked + label{
            background: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
            position: relative;
            &::before{
                content:'';
                width: 3px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: inline-block;
                background: #C2F62C;
            }
            .size{
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                font-size: 15px;
                color: #3F3F48;
            }
            }
        }
    }
    &-info{
        width: 100%;
        padding-top: 20px;
        margin-bottom: 20px;
        position: relative;
        &__add{
            display: inline-block;
            position: absolute;
            right: 20px;
            bottom: 0;
            .input-number {
                width: 60px;
                background: #E9FDE2;
                border: none;
                display: inline-block;
                vertical-align: middle;
                line-height: 30px;
                padding: 0 12px;
                text-align: center;
                outline: none;
              }

              .input-number,
              .input-number-decrement,
              .input-number-increment {
                height: 28px;
                user-select: none;
              }

              .input-number-decrement,
              .input-number-increment {
                display: inline-block;
                width: 28px;
                line-height: 28px;
                background: #B7FD9F;
                color: #31BA00;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
                position: relative;
              }
              .input-number-decrement:active,
              .input-number-increment:active {
                background: #ddd;
              }

              .input-number-decrement {
                border-radius: 50%;
                left: 20px;
              }

              .input-number-increment {
                border-radius: 50%;
                right: 20px;
              }
        }
        &__title{
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-size: 15px;
            color: #333333;
            display: inline-block;
        }
        &__desc{
            font-style: normal;
            font-weight: 300;
            line-height: 23px;
            font-size: 14px;
            color: #3F3F48;
            padding-top: 15px;
            padding-bottom: 5px;
        }
        &__price{
            font-style: normal;
            font-weight: normal;
            line-height: 27px;
            font-size: 15px;
            color: #3F3F48;
        }
        &__name{
            position: absolute;
            right: 20px;
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 15px;
            color: rgba(63, 63, 72, 0.5);
        }
    }
}
.inner{
    width: 100%;
    height: 140px;
    background: url(/img/inner.png) center no-repeat;
    background-size: cover;
    position: relative;
    &-choice{
        background: #F1F8F8;
        padding: 10px 0;
        position: relative;
        &--img{
            display: inline-block;
            max-width: 100px;
            object-fit: cover;
            height: 92px;
            vertical-align: bottom;
        }
        &--text{
            display: inline-block;
            vertical-align: top;
            padding-top: 15px;
            padding-left: 15px;
        }
        &__title{
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            font-size: 14px;
            color: #333333;
        }
        &__price{
            padding-top: 30px;
            font-style: normal;
            font-weight: normal;
            line-height: 22px;
            font-size: 13px;
            color: #333333;
            opacity: 0.75;
        }
        &__btn{
            height: 26px;
            width: 26px;
            text-align: center;
            background: #CDF9CD;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        &__wrapper{
            width: 90%;
            margin: 0 auto 10px;
            background: white;
            position: relative;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        }
    }
    &-info{
        padding-top: 40px;
        padding-bottom: 20px;
        &__p{
            padding-top: 10px;
            font-style: normal;
            font-weight: 300;
            line-height: 23px;
            font-size: 12px;
            color: #333333;
        }
        &__ul{
            li{
                padding-top: 10px;
                font-style: normal;
                font-weight: 300;
                line-height: 23px;
                font-size: 12px;
                opacity: 0.7;
            }
            .active{
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                color: #333333;
                opacity: 1;
                button{
                    background: linear-gradient(90deg, #BEF587 0%, #70E78A 100%);
                }
            }
        }

        &__btn{
            height: 36px;
            width: 36px;
            text-align: center;
            border-radius: 50%;
            vertical-align: middle;
            img{
                vertical-align: middle;
            }
        }
        &__title{
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 20px;
            text-align: center;
            color: #333333;
        }
        &__desc{
            padding-top: 5px;
            padding-bottom: 25px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 15px;
            text-align: center;
            color: rgba(51, 51, 51, 0.5);
        }
    }
    &__brand{
        position: absolute;
        bottom: 0;
        left: 50%;
        .translate(-50%,50%);
    }
    &__arrow{
        padding-top: 10px;
    }
    &__fav{
        height: 32px;
        width: 32px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        position: absolute;
        bottom: 15px;
        right:  20px;
    }
}
