/*
 * Global styles
 *
 * Define global styles.
 */


input{
  border-radius: 0;
  border-radius: none;
}
/*
 * Global classes
 * 
 * Define global classes to apply
 * to  your <body/>.
 *
 * Note: Nested selectors allowed.
 */


/* Example */
.nav-opened{ /* ... */ };


/*
 * Global Media Queries
 *
 * Define global media queries.
 */


// ...



