.radius(@radius){
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;
}

.transition(@properties){
	-webkit-transition: @properties;
	   -moz-transition: @properties;
	    -ms-transition: @properties;
	     -o-transition: @properties;
	        transition: @properties;
}

.transition-delay(@delay){
	-webkit-transition-delay: @delay;
	   -moz-transition-delay: @delay;
	    -ms-transition-delay: @delay;
	     -o-transition-delay: @delay;
	        transition-delay: @delay;
}

.transition-duration(@duration){
	-webkit-transition-duration: @duration;
	   -moz-transition-duration: @duration;
	    -ms-transition-duration: @duration;
	     -o-transition-duration: @duration;
	        transition-duration: @duration;
}

.translate(@px, @py){
	-webkit-transform: translate(@px, @py);
	   -moz-transform: translate(@px, @py);
	    -ms-transform: translate(@px, @py);
	     -o-transform: translate(@px, @py);
	        transform: translate(@px, @py);
}

.translate3d(@px, @py, @pz){
	-webkit-transform: translate3d(@px, @py, @pz);
	   -moz-transform: translate3d(@px, @py, @pz);
	    -ms-transform: translate3d(@px, @py, @pz);
	     -o-transform: translate3d(@px, @py, @pz);
	        transform: translate3d(@px, @py, @pz);
}

.translateX(@px){
	-webkit-transform: translateX(@px);
	   -moz-transform: translateX(@px);
	    -ms-transform: translateX(@px);
	     -o-transform: translateX(@px);
	        transform: translateX(@px);
}

.translateY(@px){
	-webkit-transform: translateY(@px);
	   -moz-transform: translateY(@px);
	    -ms-transform: translateY(@px);
	     -o-transform: translateY(@px);
	        transform: translateY(@px);
}

.translateZ(@px){
	-webkit-transform: translateZ(@px);
	   -moz-transform: translateZ(@px);
	    -ms-transform: translateZ(@px);
	     -o-transform: translateZ(@px);
	        transform: translateZ(@px);
}

.rotate(@deg){
	-webkit-transform: rotate(@deg);
	   -moz-transform: rotate(@deg);
	    -ms-transform: rotate(@deg);
	     -o-transform: rotate(@deg);
	        transform: rotate(@deg);
}

.rotate3d(@rx, @ry, @rz){
	-webkit-transform: rotate3d(@rx, @ry, @rz);
	   -moz-transform: rotate3d(@rx, @ry, @rz);
	    -ms-transform: rotate3d(@rx, @ry, @rz);
	     -o-transform: rotate3d(@rx, @ry, @rz);
	        transform: rotate3d(@rx, @ry, @rz);
}

.rotateX(@deg){
	-webkit-transform: rotateX(@deg);
	   -moz-transform: rotateX(@deg);
	    -ms-transform: rotateX(@deg);
	     -o-transform: rotateX(@deg);
	        transform: rotateX(@deg);
}

.rotateY(@deg){
	-webkit-transform: rotateY(@deg);
	   -moz-transform: rotateY(@deg);
	    -ms-transform: rotateY(@deg);
	     -o-transform: rotateY(@deg);
	        transform: rotateY(@deg);
}

.rotateZ(@deg){
	-webkit-transform: rotateZ(@deg);
	   -moz-transform: rotateZ(@deg);
	    -ms-transform: rotateZ(@deg);
	     -o-transform: rotateZ(@deg);
	        transform: rotateZ(@deg);
}

.scale(@times){
    -webkit-transform: scale(@times);
	   -moz-transform: scale(@times);
	    -ms-transform: scale(@times);
	     -o-transform: scale(@times);
	        transform: scale(@times);
}

.scale3d(@sx, @sy, @sz){
    -webkit-transform: scale3d(@sx, @sy, @sz);
	   -moz-transform: scale3d(@sx, @sy, @sz);
	    -ms-transform: scale3d(@sx, @sy, @sz);
	     -o-transform: scale3d(@sx, @sy, @sz);
	        transform: scale3d(@sx, @sy, @sz);
}

.scaleX(@times){
    -webkit-transform: scaleX(@times);
	   -moz-transform: scaleX(@times);
	    -ms-transform: scaleX(@times);
	     -o-transform: scaleX(@times);
	        transform: scaleX(@times);
}

.scaleY(@times){
    -webkit-transform: scaleY(@times);
	   -moz-transform: scaleY(@times);
	    -ms-transform: scaleY(@times);
	     -o-transform: scaleY(@times);
	        transform: scaleY(@times);
}

.scaleZ(@times){
    -webkit-transform: scaleZ(@times);
	   -moz-transform: scaleZ(@times);
	    -ms-transform: scaleZ(@times);
	     -o-transform: scaleZ(@times);
	        transform: scaleZ(@times);
}

.skew(@ax, @ay){
	-webkit-transform: skew(@ax, @ay);
	   -moz-transform: skew(@ax, @ay);
	    -ms-transform: skew(@ax, @ay);
	     -o-transform: skew(@ax, @ay);
	        transform: skew(@ax, @ay);
}

.skewX(@angle){
	-webkit-transform: skew(@angle);
	   -moz-transform: skew(@angle);
	    -ms-transform: skew(@angle);
	     -o-transform: skew(@angle);
	        transform: skew(@angle);
}

.skewY(@angle){
	-webkit-transform: skew(@angle);
	   -moz-transform: skew(@angle);
	    -ms-transform: skew(@angle);
	     -o-transform: skew(@angle);
	        transform: skew(@angle);
}

.transform(@properties){
	-webkit-transform: @properties;
	   -moz-transform: @properties;
	    -ms-transform: @properties;
	     -o-transform: @properties;
	        transform: @properties;
}

.transform-origin(@originX, @originY){
    -webkit-transform-origin: @originX @originY;
    transform-origin: @originX @originY;
}

.animation(@properties){

	/*
	 * Order of properties
	 *
	 * name, duration, easing, delay, iteration, direction
	 */

	-webkit-animation: @properties;
	   -moz-animation: @properties;
	        animation: @properties;
}

.text-shadow(@horizontal, @vertical, @blur, @color){
	-webkit-text-shadow: @horizontal @vertical @blur @color;
	   -moz-text-shadow: @horizontal @vertical @blur @color;
	        text-shadow: @horizontal @vertical @blur @color;
}

.box-shadow(@horizontal, @vertical, @blur, @color){
	-webkit-box-shadow: @horizontal @vertical @blur @color;
	   -moz-box-shadow: @horizontal @vertical @blur @color;
	      	box-shadow: @horizontal @vertical @blur @color;
}

.placeholder(@rules){
    &::-webkit-input-placeholder
    {
        @rules();
    }

    &:-moz-placeholder
    {
        @rules();
    }

    &::-moz-placeholder
    {
        @rules();
    }

    &:-ms-input-placeholder
    {
        @rules();
    }
}

.user-select(@select: none){
	-webkit-user-select: @select;
	user-select: @select;
}

.filter(@value){
	-webkit-webkit-filter: @value;
	-moz-webkit-filter: @value;
	-ms-webkit-filter: @value;
	-o-webkit-filter: @value;
	filter: @value;
}

.appearance(@val){
	-webkit-appearance: @val;
	-moz-appearance: @val;
}

.backface-visibility(@val){
	-webkit-backface-visibility: @val;
	backface-visibility: @val;
}

.size(@width, @height){
	width: @width;
	height: @height;
}

.triangle(@direction, @color, @size) {
  @pxSize: @size + px;

  width: 0;
  height: 0;

  & when (@direction = left) {
    border-top: @pxSize solid transparent;
    border-right: @pxSize solid @color;
    border-bottom: @pxSize solid transparent;
  }
  & when (@direction = right) {
    border-top: @pxSize solid transparent;
    border-bottom: @pxSize solid transparent;
    border-left: @pxSize solid @color;
  }
  & when (@direction = top) {
    border-left: @pxSize solid transparent;
    border-right: @pxSize solid transparent;
    border-bottom: @pxSize solid @color;
  }
  & when (@direction = bottom) {
    border-left: @pxSize solid transparent;
    border-right: @pxSize solid transparent;
    border-top: @pxSize solid @color;
  }

}

.position-top(@top) when (@top = null) { }
.position-top(@top) when not (@top = null) {
	top: @top;
}

.position-right(@right) when (@right = null) { }
.position-right(@right) when not (@right = null) {
	right: @right;
}

.position-bottom(@bottom) when (@bottom = null) { }
.position-bottom(@bottom) when not (@bottom = null) {
	bottom: @bottom;
}

.position-left(@left) when (@left = null) { }
.position-left(@left) when not (@left = null) {
	left: @left;
}

.position(@position, @top: null, @right: null, @bottom: null, @left: null) {
	position: @position;
	.position-top(@top);
	.position-right(@right);
	.position-bottom(@bottom);
	.position-left(@left);
}
.mt-10{
	margin-top: 10px;
}
.mt-30{
	margin-top: 30px;
}
.pl-20{
	padding-left: 20px;
}
.pl-50{
	padding-left: 50px;
}
.pb-40{
	padding-bottom: 40px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-20{
	padding-bottom: 20px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-30{
	margin-bottom: 30px;
}
.pt-50{
	padding-top: 50px;
}
.pt-20{
	padding-top: 20px;
}
.pb-10{
	padding-bottom: 10px;
}
.pr-40{
	padding-right: 40px;
}
.pr-100{
	padding-right: 160px;
}
.text-up{
	text-transform: uppercase;
}
.mt-20{
	margin-top: 20px;
}
.mt-25{
	margin-top: 25px;
}
.mb-10{
	margin-bottom: 15px;
}
.photos{
	img{
		display: inline-block !important;
		text-align: center;
	}
}
.mt-14{
	margin-top: 14px;
}
.ml-10{
	margin-left: 20px;
}
.ib{
	display: inline-block;
}
.pt-25{
	padding-top: 25px;
}
.pl80{
	padding-left: 80px;
}
.pt-5{
	padding-top: 3px;
}
.pr-25{
	padding-right: 25px;
}
.mb-60{
	margin-bottom: 60px;
}
.vm{
	vertical-align: middle !important;
}
.pl-10{
	padding-left: 10px;
}
.mr-10{
	margin-right: 10px;
}
.fixed{
	overflow: hidden;
}
.oh{
	overflow: hidden;
}
.none{
	visibility: hidden;
}
.mt-25{
	margin-top: 25px;
}
.mt-80{
	margin-top: 80px;
}
.index{
	z-index: 10;
}
.pt-fix{
	padding-top: 4px;
}
.mx-50{
	margin: 0 50px;
}
.ml-3{
	margin-left: 3em;
}
.bg-white{
	background: white;
}
.relative{
	position: relative;
}
.pt-10{
	padding-top: 10px;
}
.dispnone{
	display: none;
}
.pt-40{
	padding-top: 40px;
}
.px-15{
	padding: 0 15px;
}
.front-index{
	z-index: 99;
}
.loader-height{
	min-height: 80vh;
}
.pt-200{
	padding-top: 30vh;
}
.input-number-1{
    display: inline-block;
    line-height: 30px;
}
#hidden{
    display: none;
}
.top5{
	top: -6px;
}
.pt5{
	padding-top: 5px;
}
.boxshadow{
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}
.br50{
	border-radius: 50%;
}
.dots{
    display: inline-block;
    width: 260px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.dots-lil{
    display: inline-block;
    width: 160px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.dots-big{
    display: inline-block;
    width: 360px;
    height: 45px;
    overflow: hidden !important;
}
.word-limit{
    max-width: 190px;
    display: inline-block;
}
.display-none{
    display: none !important;
}
.pointer{
    cursor:pointer;
}
.block{
	display:block;
}
.mr-80{
    margin-right: 80px;
}
.d-flex{
  display: flex;
}
.margin-check{
	margin: 10px 20px 0;
}
.my-location{
    width: 50px;
    background: #C2F62C;
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 30;
}
.example-custom-input{
    font-size: 13px;
    box-shadow: rgb(233, 233, 233) 0px 2px 2px inset;
    line-height: 16px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(174, 174, 174);
    border-image: initial;
    padding: 6px 10px 5px;
}
.preloader{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
