.mobnav__bottom div{
    background: white;
    display: inline-block;
    width: 95%;
    text-align: left;
    margin: 0 auto;
    height:40px;
    border-radius: 100px;
    position: relative;
    padding: 10px 0px 10px 10px;
}
.mobnav__btn{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
    vertical-align: middle;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    background: white;
}
